# Flask Configuration
FLASK_APP=wsgi.py
FLASK_DEBUG=1
FLASK_CONFIG=development

# Security
SECRET_KEY=sua-chave-secreta-aqui

# Database (PostgreSQL)
# Format: postgresql://user:password@host:port/dbname
DATABASE_URL=postgresql://user:password@localhost:5432/apiflask_db

# Postgres Credentials for Docker
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=apiflask_db
